body{
    background-color:rgb(177, 177, 145);
    //text-align: center;
    #layout-main{
        height: auto;
        min-height: 480px; 
        background-color: bisque;
        border: 2px dashed grey;
    }
    
}