<link rel="stylesheet" href="/css/signin.css">
<div id="form-container">
    <h1>
        Sign-In
    </h1>
    
    <form id="sign-in-form" action="/users/create-session" method="POST">
        
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        
        <input type="submit" value="Sign-In"> 
        
    
    </form>
    
    <p>
        <a href="/users/auth/google"> Google Sign-Up/Sign-In</a>
    </p>

</div>
